<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for character appearances in novel</title>
    <form action="/assistant/search" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</head>
<body>
{% if results %}
<ul>
    This character appears a total of {{ count }} times.
    {% for result in results %}
    <li>{{result}}</li>
    {% endfor %}
</ul>
{% else %}
No results.
{% endif %}
</body>
</html>